DB_URL=jdbc:postgresql://localhost:5432/ogm_reservation
DB_USERNAME=postgres
DB_PASSWORD=postgres123
# Generate a Base64-encoded secret of at least 32 bytes for HS256.
JWT_SECRET=qWdfNhBbJoEwBM0NoF8NNEtbQbRNIvYiHpKj9fZFJBzAz1BEbKVfVuBk8qmdhsU5
FRONTEND_ORIGIN=http://localhost:3000
